certifi==2021.5.30
conda==4.3.16
distlib==0.3.3
filelock==3.0.12
idna==3.2
mysql-connector==2.2.9
pipenv==2021.5.29
platformdirs==2.4.0
pycosat==0.6.3
requests==2.26.0
urllib3==1.26.7
virtualenv==20.8.1
virtualenv-clone==0.5.7

